.page-header {
    background-color: aqua;
}
.navigation {
    background-color: violet;
}
.nav-list {
    list-style: none;
}
.nav-item {
    background-color: yellow;
}
.nav-link {
    color: tomato;
}